.adventages {}


.adventages__container {
      display: flex;
      gap: 70px;
      padding-left: 50px;
      padding-right: 50px;
}

.adventages__title {
      flex-basis: 50%;
      max-width: 480px;
      display: flex;

}

.adventages__list {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

}

.adventages__item {
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;
      background-position: left;
      background-size: 16px 16px;
      padding-left: 32px;

      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;

}


@media(max-width: 1240px) {}


@media(max-width: 920px) {
      .adventages__container {
            display: flex;
            flex-direction: column;
            gap: 24px;
      }

      .adventages__list {
            gap: 16px;
      }

      .adventages__item {
            font-size: 16px;
            line-height: 21px;
      }
}


@media(max-width: 560px) {

      .adventages__title {
            font-size: 24px;
            line-height: 31px;
      }

      .adventages__item {
            font-size: 14px;
            line-height: 18px;
      }
}