@font-face {
      font-family: Inter;
      font-weight: 500;
      font-display: swap;
      src: local(Inter-Medium), local(InterMedium), local('Inter Medium'),
            url('../fonts//inter-v12-cyrillic_latin-500.woff2') format('woff2'),
            url('../fonts//inter-v12-cyrillic_latin-500.woff') format('woff');
      /* woff испольузется для старых  браузеров */
      /* local(Inter) значит, что если есть системный шрифт, то он подключиться, лок шрифт моде называется либо Inter-Medium, InterMedium либо Inter Medium
       */
}


@font-face {
      font-family: Inter;
      font-weight: 400;
      font-display: swap;
      src: local(Inter), local(InterRegular), local('Inter Regular'),
            url('../fonts//inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
            url('../fonts//inter-v12-cyrillic_latin-regular.woff') format('woff');
}