/* общие стли  */

:root {
      /* придумали переменную:  ширина слайда */
      --width-slide: 590px;
      /* придумали переменную: */
      --width-block: calc(50% - var(--gap) / 2);
      --gap: 10px;
      /* у серого блока: */
      --padding: 50px;

}


html {
      box-sizing: border-box;
}


*, *:after,  *:before{
      box-sizing: inherit;
      /* для ненаследумого свойста указываем inherit, чтобы он унаследовался  */
}


ul {
      list-style: none;
      margin: 0;
      padding: 0;
}


body {
      min-width: 320px;
      /*меньше чем 320 px не будет*/
      font-family: 'Inter', sans-serif;
      /* sans-serif-запасной шрифт  */
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #232020;
      background-color: #ffffff;
}



.container {
      /* ширина контента */
      max-width: 1190px;
      margin: 0 auto;
}


.link {
      text-decoration: none;
      /* наследует от родителя: */
      color: inherit;

}


img {
      max-width: 100%;
      height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
      margin: 0;
}


.button {
      display: inline-block;
      padding: 18px 40px;
      border-radius: 24px;
      text-transform: uppercase;
      color: #232020;
      background-color: #FFC700;
      border: none;
      cursor: pointer;
}


p {
      margin: 0;
}



.section-offset {
      padding-top: 40px;
      padding-bottom: 40px;
}


.visually-hidden {
      /* скрываем элмент, но осталвяем его доступным для роботов читалок и поисковиков */
      position: fixed;
      transform: scale(0);
}


.gray-block {
      min-height: 530px;
      padding: var(--padding);
      background-color: #F8F8F8;
      border-radius: 12px;

      @media(max-width: 768px) {
            padding: 30px;
      }
}


.title {
      font-weight: 500;
      font-size: 44px;
      line-height: 57px;
      text-transform: uppercase;
}


@media(max-width: 1240px) {
      :root {
            --padding: 30px;
            --width-slide: 440px;
            --height-slide: 440px;
      }

      .container {
            max-width: 890px;
      }

      .section-offset {
            padding-top: 30px;
            padding-bottom: 30px;
      }

      .title {
            font-weight: 300;
            font-size: 34px;
            line-height: 44px;
      }

      .gray-block {
            min-height: 396px;
      }
}


@media(max-width: 920px) {

      :root {
            --padding: 24px;

            --width-slide: 311px;
            --height-slide: 280px;
      }

      .container {
            /* 630(кнтент) + padding-left(30px) + padding-rightt(30px): */
            max-width: 690px;
            padding: 0 30px;
      }

      .gray-block {
            min-height: 280px;
            padding: 24px;
      }

      .button {
            padding: 10px 24px;
            font-size: 14px;
      }
}



@media(max-width: 560px) {
      :root {
            --padding: 20px;
            --width-slide: 308px;
            --height-slide: 276px;
            --gap: 4px;
      }

      .container {
            padding: 0 6px;
      }


      .title {
            font-size: 24px;
            line-height: 31px;

      }

      .gray-block {
            min-height: 232px;
            padding: 20px;
      }

      .button {
            font-size: 12px;
            line-height: 15px;
      }

}